*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
a:visited{
    color:rgb(46, 46, 46);
}
.comme-regular{
    font-family: "Comme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    }
.comme-bold{
    font-family: "Comme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    }


@font-face{
    font-family: "swei-bold";
    src: url('./font/SweiHalfMoonCJKtc-Bold.ttf') format('truetype');
    
}
@font-face{
    font-family: "swei-light";
    src: url('./font/SweiHalfMoonCJKtc-Light.ttf') format('truetype');
    
}
@font-face{
    font-family: "swei-regular";
    src: url('./font/SweiHalfMoonCJKtc-Regular.ttf') format('truetype');
    
}
.header{
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
}
.container{
    background-color: #E6E6E6;
}
.header p{
    font-size: 38px;
    padding-left: 1vw;
    letter-spacing: 3px;
}

.header li{
    float: left;
    padding-right: 3vw;
}

.header li a{
    color: black;
    font-size: 26px;
    font-family: "Comme", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

.header li a:hover{
    color: rgb(206, 124, 42);
    cursor: pointer;
}

.container{
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

#banner{
    background-image: url(./image/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    #banner p{
        font-size: 300px;
        background-color: rgb(126, 124, 124);
        color: transparent;
        text-shadow: 4px 2px 3px #ffffff;
        background-clip: text;
        letter-spacing: 50px;
    }


#about{
    padding: 120px 0;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    color: rgb(51, 51, 51);
}

#about h1{
    font-size: 70px;
    letter-spacing: 5px;
}
#about .box{
    justify-items: center;
    max-width: 70%;

}

#about p{
    padding: 0 150px 0;
    margin: 50px;
    font-size: 32px;
    line-height: 55px;
    font-family: "swei-regular";
    font-size: 23px;
}


#about a{
    display: flex;
    text-align:end;
    padding: 15px 20px;
    border-radius: 25px;
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 50, 50);
    box-shadow:0px 6px 0px  rgb(50, 50, 50);
    position: relative;
    text-decoration: none;
    transition: all 0.1s ease;
    transform: translateY(0);
}


#about a:hover{
    transform: translateY(4px);
    box-shadow:0px 2px 0px  rgb(50, 50, 50)
}

#about .box2 a:active {
    transform: translateY(4px);
    box-shadow:0px 0px 0px  rgb(50, 50, 50)
}

#about h2{
    padding-left: 10px;
}

#about .material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 80,
    }

#about img{
    max-width: 35vw;
}

#experience{
    clear: both;
    background-image: url(./image/experience.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#experience h1{
    text-align: center;
    padding: 60px 0 80px;
    background-color: rgb(68, 68, 68);
    color: transparent;
    text-shadow: 2px 2px 2px #ffffff;
    background-clip: text;
    font-size: 90px;
    letter-spacing: 10px;
}

#experience .timeline{
    display: flex;
    justify-content: center;
}
#experience .timeline img{
    max-width: 50%;
    padding: 80px 0 350px;
}

#projects{
    background-image: url(./image/project.JPG);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1400px;
    width: auto;
    justify-items: center;
}

#projects h1{
    text-align: center;
    padding: 60px 0 80px;
    background-color: rgb(96, 96, 96);
    color: transparent;
    text-shadow: 1px 2px 1px #ffffff;
    background-clip: text;
    font-size: 90px;
}


#projects .pjBox{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
}

#projects .card{
    width: 20%;
    height: 400px;
    background-color: #ffffff53;
    margin:0 12px 60px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

#projects h2{
    color: #ffffff;
    font-size: 38px ;
    text-shadow:1px 2px 1px #3f1dbc;
}

.card1,.card2,.card3,.card4,.card5,.card6{
    font-family: "Comme", sans-serif;
}
.card7,.card8{
    font-family: "swei-regular";
}

.modal-overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}

.modalbox{
    text-align: center;
}

.modal{
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(220, 16, 16);
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    z-index: 100;
    width: 80%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    align-items: center;
    font-size: 24px;
    line-height: 35px;
}

.modal-content h2{
    padding-bottom: 10px;
}

.modal-content{
    position: relative;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}


#tools{
    padding-top: 120px;
}

/*======平板css======*/
@media screen and (max-width:1200px) and (min-width:769px){


}

/*======手機css======*/
@media screen and (max-width:768px){

}